/* line 5, /Users/TW/airbnb/app/assets/stylesheets/listings.scss */
#middleHeading {
  text-align: center;
}

/*VIDEO*/
/* line 11, /Users/TW/airbnb/app/assets/stylesheets/listings.scss */
.video_container {
  position: relative;
  background: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 130px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

/*VIDEO*/
/* line 25, /Users/TW/airbnb/app/assets/stylesheets/listings.scss */
.video_container h1 {
  font-size: 50px;
  line-height: 1.3;
}

/*VIDEO*/
/* line 30, /Users/TW/airbnb/app/assets/stylesheets/listings.scss */
.video_container h1 span {
  font-size: 20px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

/*VIDEO*/
/* line 38, /Users/TW/airbnb/app/assets/stylesheets/listings.scss */
.photo {
  position: absolute;
  object-fit: contain;
  z-index: -5;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

/* line 47, /Users/TW/airbnb/app/assets/stylesheets/listings.scss */
#cardDesign {
  /*border: 1px black;
  border-style: solid;*/
  /*margin-right: 50px;*/
  min-height: 500px;
  max-height: 500px;
  border: 5px solid white;
  border-radius: 10px;
  overflow: hidden;
  padding: 7px;
}

/* line 59, /Users/TW/airbnb/app/assets/stylesheets/listings.scss */
.carousel .item {
  height: 300px;
}

/* line 63, /Users/TW/airbnb/app/assets/stylesheets/listings.scss */
#card-image {
  min-height: 300px;
  max-height: 300px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



*/



#navbar{
	background-color: black;
}

/*to make the search-bar in the center of the navbar*/
#searchbar {
	position: fixed;
	margin-left: -100px;
	left: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#profile-position{
	float: left;
}

#body-container{
	margin-top: 60px;
}

#profileNavBar{
	height: 30px;
	width: 30px;
	border-radius: 25px;
	display: inline-block;
	float: right;
	/*left: 800px;*/
	margin-top: 15px;
}


