/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

*/


#navbar{
	background-color: black;
}

/*to make the search-bar in the center of the navbar*/
#searchbar {
	position: fixed;
	margin-left: -100px;
	left: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#profile-position{
	float: left;
}

#body-container{
	margin-top: 60px;
}

#profileNavBar{
	height: 30px;
	width: 30px;
	border-radius: 25px;
	display: inline-block;
	float: right;
	/*left: 800px;*/
	margin-top: 15px;
}


