// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#middleHeading {
	text-align: center;

}

#cardDesign {
/*	border: 1px black;
	border-style: solid;
	margin: 30px 90px 0 0 ;*/
	
	border:5px solid white;
	border-radius: 10px;
}
	